﻿/* Autora: Leticia Lumi Asano
     Linkedin: https://www.linkedin.com/in/leticia-lumi-asano-a08389136/ */

/*---------------------------------------------estrutura---------------------*/
body {
    height: 100%;
    background-color: #EFEFEF;
    font-family: 'Nunito', sans-serif;
}

.padding {
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

imgForm {
    width: 60%;
}

/*---------------------------------------------componentes---------------------*/

.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;

    background-image: url('hero.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}


.heroH1{
    font-size: 42px;
    font-weight: 900;
    text-align:left;
    margin-right: 20px;
    margin-bottom: 50px;;
}

.container {
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 32px 32px;
}


.fundoCard {
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 10px 8px #D2D2D2;
    align-content: center;
}

.containerProdutos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardCointainer {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
    transition:ease-in 1s;
}


/*---------------------------------------------textos---------------------*/

.h1text {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}


.heading{
    color: #ff0000;
}

.pCentralizado{
    text-align: center;
}

